<div>
  <p>Search</p>
  <label>City or Zip code</label><input [(ngModel)]="location.location" type="text" name="cityOrZip" placeholder="Input City or Zip Code">
  <label>Country</label><input [(ngModel)]="location.country"type="text" name="country" placeholder="Country default to USA">
  <button (click)="validateLocation(location)">Submit</button>
  <div *ngIf="city">
    Five day forecast by 3 hour increment for {{city}}
  </div>
  <div class="container-fluid">
    <div class="row">
      <app-day-forecast *ngFor="let forecast of forecasts" [forecast]="forecast"></app-day-forecast>
    </div>
  </div>  
</div>